@using BankService
@{
    ViewData["Title"] = "Home Page";
}

@{
    var operations = (List<Operation>)Model;

    foreach (var operation in operations)
    {
        <div>
            Kwota: @operation.Amount, Od: @operation.SourceId, Do: @operation.DestinationId, Title: @operation.Title
        </div>
    }
}
