@model TransferViewModel
@{
    ViewBag.Title = "Transfer";
}
<h1>Transfer</h1>

<form asp-controller="Home" asp-action="Transfer" method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-route-sourceId="@ViewData["Id"]">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="DestinationId">Account number</label>
        <input asp-for="DestinationId" />
        <span asp-validation-for="DestinationId"></span>
    </div>

    <div>
        <label asp-for="Amount"></label>
        <input asp-for="Amount" />
        <span asp-validation-for="Amount"></span>
    </div>
    
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div>
        <input type="submit" value="Transfer" />
    </div>

</form>